// ------------- GENERAL TAGS ------------- //

body {
    font-size: 100%;
    font-family: $sans-serif-font, sans-serif;
    color: $grey;

    ::selection {
        
    }

    ::-moz-selection {
        
    }
}


